<% if user_team %>

  <h2><%= user_team.name %></h2>
  <h3><%= user_team.project.title %></h3>
  <ul>
    <% team_members.each do |student| %>
      <li><%= student.first_name %></li>
    <% end %>
  </ul>

<% else %>

  <h2><%= current_team.name %></h2>
  <% if current_team.project %>
    <h3><%= current_team.project.title %></h3>
  <% end %>
  <ul>
    <% current_team.students.each do |student| %>
      <li><%= student.first_name %></li>
    <% end %>
  </ul>

<% end %>
