<%= render 'form' %>

<p>Sign up for a new account:</p>
<div id="new-register-form">
	<%= form_for :user, url: users_path do |f| %>
	<div id="inputs">
	<div id="names">
		<%= f.label :first_name %><br>
		<%= f.text_field :first_name %><br><br>
		<%= f.label :last_name %><br>
		<%= f.text_field :last_name %><br><br>
	</div>
	<div id="user-info">
		<%= f.label :email %><br>
		<%= f.text_field :email %><br><br>

		<%= f.label :password %><br>
		<%= f.password_field :password %><br><br>
	</div>
	<div id="cohort">
		<%= f.label :cohort_id %><br>
		<%= f.text_field :cohort_id %><br><br>
	</div>
</div>
		<p><strong>Enter:</strong> 1 for Wolves,<br>2 for Salamanders, <br>3 for red Pandas:</p>
		<%= f.submit :register, class: 'register' %>
	<% end %>
</div>
