<!DOCTYPE html>
<html>
  <head>
    <title>DBCPT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
    <div>
      <nav>
        <ul>

          <% if !current_user %>

            <li>
              <form method="get" action="/login"><input type="submit" value="login">
              </form>
            </li>

            <li>
              <form method="get" action="/users/new">
              <input type="submit" value="sign up" >
              </form>
            </li>

          <% else %>
            <li>
              <form method="get" action="/users/<%= current_user.id %>">
                <input type="submit" value="go to profile">
              </form>
            </li>

            <li>
              <%= link_to "Logout", {controller: 'sessions', action: :destroy }, method: :delete %>
            </li>

          <% end %>

          <li>
            <form method="get" action="/">
              <input type="submit" value="home">
            </form>
        </ul>
      </nav>
  </header>


	<div>
	  <%= yield %>
	</div>

  </body>
</html>
